<%- include('./parts/header') %> <%- include('./parts/body') %>
<div class='container'>
    <% for(let e of validationErrors) { %>
    <p class="alert alert-danger"><%= e.msg %></p>
    <%}%>
    <% if (items.length===0) { %>
    <p class="alert alert-danger">there is no items</p>
    <%} else { %>
    <table class="table table-hover table-dark">
        <thead>
            <td scope="col">Id</td>
            <td scope="col">Time</td>
            <td scope="col">Name</td>
            <td scope="col">Price</td>
            <td scope="col">Amount</td>
            <td scope="col">Total</td>
            <td scope="col">Save Amount</td>
            <td scope="col">Order</td>
            <td scope="col"></td>
        </thead>
        <tbody>
            <% for (let i = 0;i < items.length; i++ ) { %>
            <tr>
                <td><%= i+1  %></td>
                <td><%= items[i].timeStamp %> </td>
                <td><%= items[i].name %> </td>
                <td><%= items[i].price %> </td>
                <form method="POST">
                    <td><input type="text" name="amount" value="<%= items[i].amount %>"></td>
                    <td><%= items[i].amount * items[i].price %> $</td>
                    <td>
                        <input type="hidden" name="productId" value="<%= items[i].productId %>">
                        <input type="hidden" name="name" value="<%= items[i].name %>">
                        <input type="hidden" name="price" value="<%= items[i].price %>">
                        <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                        <input type="hidden" name="redirectTo" value="/cart/<%= items[i]._id %>">
                        <input type="submit" class="btn btn-success" value="Save" formaction="/cart/save">
                    </td>
                    <td><input type="submit" class="btn btn-success" value="Order" formaction="/order"></td>
                    <td><input type="submit" class="btn btn-danger" value="Cancel" formaction="/cart/delete"></td>
                </form>
            </tr>
            <% } %>
        </tbody>
    </table>
    <form method="POST" action="/cart/deleteAll">
        <input type="hidden" name="userId" value="<%= items[0].userId %>">
        <input type="submit" class="btn btn-danger" value="Delete All">
    </form>

    <%}%>
</div>
<%-include('./parts/footer') %>